* {
    padding: 0;
    margin: 0;
}



/* 1. 确定版心 */
.w {
    width: 1200px;
    margin: auto;

}

body {
    background-color: #f3f5f7;
}

li {
    list-style: none;
}

a {
    text-decoration: none;

}

/* ----------  header start ---------- */
.header {
    height: 42px;
    /* background-color: pink; */
    margin: 30px auto;

}

.logo {
    float: left;
    width: 198px;
    height: 42px;
    /* background-color: grey; */
}

.nav {
    float: left;
    margin-left: 60px;
}

.nav ul li {
    float: left;
    margin: 0 15px;
}

/* 因为导航栏里面文字不一样多，所以最好给链接a左右padding 撑开盒子，而不是指定宽度 */
.nav ul li a {
    /* 因为a是行内元素 所以要先转化成块元素 才能有固定的大小 */
    display: block;
    height: 42px;
    padding: 0 10px;
    line-height: 42px;
    font-size: 18px;
    color: #050505;
}

.nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff;
}

.search {
    float: left;
    width: 412px;
    height: 42px;
    /* background-color: orange; */
    margin-left: 50px;

}

/* 表单为行内快元素 */
.search input {
    float: left;
    width: 345px;
    height: 40px;
    border: 1px solid #00a4ff;
    border-right: 0;
    color: #bfbfbf;
    font-size: 14px;
    padding-left: 15px;
}

/* button也是行内快元素 两个放一起中间有个缝隙 所以加一起就容易崩 所以需要加浮动 */
.search button {
    float: left;
    width: 50px;
    height: 42px;
    background-color: blue;
    /* button按钮默认有个边框 需要我们手动去掉 */
    border: 0;
    background: url(../img/btn.png);
}


.user {
    float: right;
    line-height: 42px;
    margin-right: 30px;
    font-size: 14px;
    color: #666;
}

/* header end */

/* ----------  banner start ----------  */
.banner {
    height: 421px;
    background-color: blue;
}

.banner .w {
    height: 421px;
    background: url(../img/banner2.png) no-repeat top center;
}

.subnav {
    float: left;
    width: 190px;
    height: 421px;
    background-color: rgba(0, 0, 0, 0.3);
}

.subnav ul li {
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
}

.subnav ul li a {
    font-size: 14px;
    color: #fff;
}

.subnav ul li a span {
    float: right;
}

.subnav ul li a:hover {
    color: #00a4ff;
}

.course {
    float: right;
    /* 浮动的盒子不会有外边距的问题（一般情况下一个大盒子里面有两个盒子 其中一个盒子用了margin-top会塌陷） */
    margin-top: 50px;
    width: 230px;
    height: 300px;
    background-color: #fff;
}

.course h2 {
    height: 48px;
    background-color: #9bceea;
    text-align: center;
    line-height: 48px;
    font-size: 18px;
    color: #fff;

}

.bq {
    padding: 0 20px;
}

.bq ul li {
    padding: 14px 0;
    border-bottom: 1px solid #ccc;
}


.bq ul li a h4 {
    font-size: 16px;
    color: #4e4e4e;
}

.bq ul li a p {
    font-size: 12px;
    color: #a5a5a5;
}

.bq .more {
    /* 因为a是行内元素没有大小 所以要转换成块元素 Display:block */
    display: block;
    height: 38px;
    border: 1px solid #00a4ff;
    margin-top: 5px;
    text-align: center;
    line-height: 38px;
    color: #00a4ff;
    font-size: 16px;
    font-weight: 700px;
}

/* banner end */


/* ---------- goods start--------- */

.goods {
    height: 60px;
    background-color: #fff;
    margin-top: 10px;
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.1);
    /* 行高会继承给三个孩子 */
    line-height: 60px;
}

.goods h3 {
    float: left;
    margin-left: 30px;
    font-size: 16px;
    color: #00a4ff;

}


.goods ul {
    float: left;
    margin-left: 30px;
}

.goods ul li {
    float: left;

}

.goods ul li a {
    padding: 0 30px;
    font-size: 16px;
    color: #050505;
    border-left: 1px solid #ccc;
}

.mod {
    float: right;
    margin-right: 30px;
    font-size: 14px;
    color: #00a4ff;

}


/* goods end */