<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./css/inputnumber.css" />
  <link rel="stylesheet" href="./css/index.css" />
  <title>购物车</title>
</head>

<body>
  <div class="app-container" id="app">
    <!-- 顶部banner -->
    <div class="banner-box"><img src="./img/fruit.jpg" alt="" /></div>
    <!-- 面包屑 -->
    <div class="breadcrumb">
      <span>🏠</span>
      /
      <span>购物车</span>
    </div>
    <!-- 购物车主体 -->
    <!-- 1. 渲染 首先主体和空车是互斥的所以用v-if v-else 之后购物车里的用v-for渲染 -->
    <div class="main" v-if="fruitList.length > 0">
      <div class="table">
        <!-- 头部 -->
        <div class="thead">
          <div class="tr">
            <div class="th">选中</div>
            <div class="th th-pic">图片</div>
            <div class="th">单价</div>
            <div class="th num-th">个数</div>
            <div class="th">小计</div>
            <div class="th">操作</div>
          </div>
        </div>
        <!-- 身体 -->
        <div class="tbody">
          <!-- 1.1 按照list渲染所有的水果 并且用key标记 -->
          <!-- 1.7 高亮bug -->
          <div v-for="(item,index) in fruitList" :key="item.id" class="tr" :class="{active:item.isChecked}">
            <!-- 1.2 把checked box绑定数据 -->
            <div class="td"><input type="checkbox" v-model="item.isChecked" /></div>
            <!-- 1.3 根据数据渲染图片 -->
            <div class="td"><img :src="item.icon" alt="" /></div>
            <!-- 1.4 根据数据渲染价格 -->
            <div class="td">{{item.price}}</div>
            <div class="td">
              <div class="my-input-number">
                <!-- 2.3 当数量小于1的时候 就禁用了 -->
                <button :disabled="item.num <= 1" class="decrease" @click="sub(item.id)"> - </button>
                <!-- 1.5 根据数据渲染价格 -->
                <span class="my-input__inner">{{item.num}}</span>
                <!-- 2.2 给加减符号 注册点击事件 -->
                <button class="increase" @click="add(item.id)"> + </button>
              </div>
            </div>
            <!-- 1.6 小计 数量*价格-->
            <div class="td">{{item.num * item.price}}</div>
            <!-- 2 删除事件 先注册事件 -->
            <div class="td"><button @click="del(item.id)">删除</button></div>
          </div>
          <!-- 之后v-for -->
          <!-- <div class="tr">
            <div class="td"><input type="checkbox" /></div>
            <div class="td"><img src="http://autumnfish.cn/static/荔枝.png" alt="" /></div>
            <div class="td">7</div>
            <div class="td">
              <div class="my-input-number">
                <button disabled class="decrease"> - </button>
                <span class="my-input__inner">1</span>
                <button class="increase"> + </button>
              </div>
            </div>
            <div class="td">14</div>
            <div class="td"><button>删除</button></div>
          </div> -->
        </div>
      </div>
      <!-- 底部 -->
      <div class="bottom">
        <!-- 全选 -->
        <label class="check-all">
          <!-- 4.计算属性 绑定数据-->
          
          <input type="checkbox" v-model="isAll"/>
          全选
        </label>
        <div class="right-box">
          <!-- 所有商品总价 -->
          <span class="price-box">总价&nbsp;&nbsp;:&nbsp;&nbsp;¥&nbsp;<span class="price">{{totalPrice}}</span></span>
          <!-- 结算按钮 -->
          <button class="pay">结算( {{totalCount}} )</button>
        </div>
      </div>
    </div>
    <!-- 空车 -->
    <div class="empty" v-else>🛒空空如也</div>
  </div>
  <script src="../vue.js"></script>
  <script>
    // 设置默认数组
    // const defaultArr = [
    //       {
    //         id: 1,
    //         icon: '../img/dragonfruit.png',
    //         isChecked: true,
    //         num: 2,
    //         price: 6,
    //       },
    //       {
    //         id: 2,
    //         icon: '../img/lychee.png',
    //         isChecked: false,
    //         num: 7,
    //         price: 20,
    //       },
    //       {
    //         id: 3,
    //         icon: '../img/durian.png',
    //         isChecked: false,
    //         num: 3,
    //         price: 40,
    //       },
    //       {
    //         id: 4,
    //         icon: '../img/pear.png',
    //         isChecked: true,
    //         num: 10,
    //         price: 3,
    //       },
    //       {
    //         id: 5,
    //         icon: '../img/cherry.png',
    //         isChecked: false,
    //         num: 20,
    //         price: 34,
    //       },
    //     ]
    const defaultArr = [
       {
            id: 1,
            icon: '../img/dragonfruit.png',
            isChecked: true,
            num: 2,
            price: 6,
          },
          {
            id: 2,
            icon: '../img/lychee.png',
            isChecked: false,
            num: 7,
            price: 20,
          },
          {
            id: 3,
            icon: '../img/durian.png',
            isChecked: false,
            num: 3,
            price: 40,
          },
          {
            id: 4,
            icon: '../img/pear.png',
            isChecked: true,
            num: 10,
            price: 3,
          },
          {
            id: 5,
            icon: '../img/cherry.png',
            isChecked: false,
            num: 20,
            price: 34,
          },
        ]
    const app = new Vue({
      el: '#app',
      data: {

        // 水果列表
        // 5.读取更新后的数组
        // fruitList: JSON.parse(localStorage.getItem('list'))
        // 这样首次加载时如果没有 list 数据，就会加载默认数组。
        fruitList: JSON.parse(localStorage.getItem('list')) || defaultArr

      },
      // 4.1 计算属性 
      // 默认计算属性 只能获取get 不能设置set，要设置需要写完整写法
      computed: {
        isAll:{
          // // 代表最终返回值是true 全选按钮就选中了
          // return true
          // 必须所有的小选框都选中，全选按钮才选中 every 必须所有都满足条件
          // return this.fruitList.every(item => item.isChecked)

          // 完整写法 = get+set
           get(){
            return this.fruitList.every(item => item.isChecked)
           },
           set(value){
            // value是复选框的布尔值
            // console.log(value);

            // 基于拿到的布尔值，要让所有的小选框 同步状态
            this.fruitList.forEach(item => item.isChecked = value)
           }
        },

        // 5.统计总价 reduce
        // 统计总数
        totalCount(){
          return this.fruitList.reduce((sum,item) => {
            if(item.isChecked){
              // 选中-> 需要累加
              return sum + item.num
            }else{
              // 没选中 ->不需要累加
              return sum
            }
          },0)
        },
        // 统计选中的总价 num*price
        totalPrice(){
          return this.fruitList.reduce((sum, item) =>{
            if(item.isChecked){
              return sum+item.num *item.price
            }else{
              return sum
            }
          },0)
        }
      },

      // 2.1 注册事件
      methods: {
        del(id) {
          this.fruitList = this.fruitList.filter(item => item.id != id)
        },
        add(id) {
          // console.log(id); //验证是否能操作
          // 1. 根据id找到数组中的对应项 -> find
          const fruit = this.fruitList.find(item => item.id === id)

          // 2.操作num数量
          fruit.num++

        },
        sub(id) {
          // console.log(id);
          // 1. 根据id找到数组中的对应项 -> find
          const fruit = this.fruitList.find(item => item.id === id)

          // 2.操作num数量
          fruit.num--

        }
      },
// 6. 数据持久化
      watch: {
        fruitList:{
          deep:true,
          // 一旦接收到新的数据变化 handler就会执行
          handler(newValue){
            // console.log(newValue); newValue目前是复杂类型
            // 需要将变化后的 newValue 存入本地（转json）
            localStorage.setItem('list', JSON.stringify(newValue))
          }
        }
      }
    })
  </script>
</body>

</html>