/* 只有首页有的CSS样式 */

.main {
    width: 980px;
    height: 455px;
    margin-left: 220px;
    margin-top: 10px;
}

.focus {
    float: left;
    width: 721px;
    height: 455px;
}

.newsflash {
    float: right;
    width: 250px;
    height: 455px;

}

.news {
    height: 165px;
    border: 1px solid #e4e4e4;
}

.news_hd {
    height: 33px;
    line-height: 33px;
    border-bottom: 1px dotted #e4e4e4;
    padding: 0 15px;
}

.news_hd h5 {
    float: left;
    font-size: 14px;
}

.news_hd .more {
    float: right;
}


.news_hd .more::after {
    font-family: 'icomoon';
    content: '\e920';
}

.news_bd {
    padding: 5px 15px 0;
}

.news_bd ul li {
    height: 24px;
    line-height: 24px;
    /* 如果一行内的字放不下 想要展现“xxxx...”一共有三步 */
    /* 第一步 隐藏 */
    overflow: hidden;
    /* 第二步 强制一行显示 不要换行  */
    white-space: nowrap;
    /* 第三步 用省略号显示 */
    text-overflow: ellipsis;
}

.liveservice {
    height: 209px;
    /* background-color: blue; */
    border: 1px solid #e4e4e4;
    border-top: 0;
    /* 因为ul需要扩大 放li 之后会有溢出 所以要隐藏 */
    overflow: hidden;
}

/* 如果不更改ul的大小 下面的li就不够放 不用担心爆掉 因为是css3盒子 */
.liveservice ul {
    width: 252px;
}

.liveservice ul li {
    float: left;
    width: 63px;
    height: 71px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    text-align: center;

}

/* 因为要放图片 i又是行内元素 转换成块元素 */
.liveservice ul li i {
    display: inline-block;
    width: 24px;
    height: 28px;
    background-color: pink;
    margin-top: 12px;
    background: url(../images/icons.png )no-repeat -19px -15px;

}

.bargain {
    margin-top: 5px;
}

/* ————————————————————————————————— 推荐模块 ————————————————————————————————— */



.recommend {

    height: 163px;
    background-color: #ebebeb;
    margin-top: 12px;
}

.recom_hd {
    float: left;
    height: 163px;
    width: 205px;
    background-color: #5c5251;
    text-align: center;
    padding-top: 30px;
}

.recom_bd {
    float: left;
}

.recom_bd ul li {
    position: relative;
    float: left;
}

/* 不过上传多大的图片 都会被硬性搞到这个大小 */
.recom_bd ul li img {
    width: 248px;
    height: 163px;
}

/* 因为最后一个没有 */
.recom_bd ul li:nth-child(-n+3):after {
    content: '';
    position: absolute;
    right: 0;
    top: 10px;
    width: 1px;
    height: 145px;
    background-color: #ddd;
}


/* ————————————————————————— 缺少 猜你喜欢 模块————————————————————————————————— */






/* ————————————————————————— 楼层 模块————————————————————————————————— */